<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Display</title>
</head>
<body>
    <h1>Data from CSV</h1>
    <form action="/search" method="get">
        <label for="muong">Search Muong Word:</label>
        <input type="text" id="muong" name="muong">
        <button type="submit">Search</button>
    </form>
    <form action="/search" method="get">
        <label for="vietnamese">Search Vietnamese Word:</label>
        <input type="text" id="vietnamese" name="vietnamese">
        <button type="submit">Search</button>
    </form>
    {% if data %}
    <ol>
        {% set counter = 1 %}
        {% for row in data %}
        <li>
            <p>muong: {{ row['muong'] }}</p>
            <p>mu_sentence: {{ row['mu_sentence'] }}</p>
            <ol>
                <li>
                    <p>viet: {{ row['viet'] }}.</p>
                    <p>vi_sentence: {{ row['vi_sentence'] }}</p>
                </li>
            </ol>
        </li>
        {% set counter = counter + 1 %}
        {% endfor %}
    </ol>
    {% else %}
    <p>No data found for the given word.</p>
    {% endif %}
</body>
</html>
